{% include base_path %}

<header class="site-masthead">
  <div class="masthead-inner">
    <a class="masthead-title" href="{{ base_path }}/">{{ site.title }}</a>
    <nav class="masthead-nav" aria-label="Site navigation">
      {% for link in site.data.navigation.main %}
        {% if link.url contains 'http' %}{% assign domain = '' %}{% else %}{% assign domain = base_path %}{% endif %}
        <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
      {% endfor %}
    </nav>
  </div>
</header>
